
//Bottom Nav
.v-item-group.v-bottom-navigation .v-btn.v-btn--active {
    color: white !important;
}


//Floating
.floating-btn {
    position: fixed !important;
    right: 20px;
    bottom: 100px;
}