.top-header {
    max-height: 80px;
    background-color: #2196F3;
    padding: 16px;
    color: white;
}

.top-header + .v-progress-linear {
    top: 68px;
    position: absolute;
}

.main-footer {
    position: fixed;
    bottom: 0;
}