//Resets

.v-application--wrap > .container {
    margin-top: 40px;
    padding-bottom: 90px;
}
.v-avatar > .v-icon {
    color: white !important;
}
.v-list-item__action--stack {
    flex-direction: row !important;
}

